IS_DEVELOPMENT=true
DEBUG=true
APP_PORT=127.0.0.1:8081
APP_ENV=local

# Database Config
DB_DIALECT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=vivek
DB_PASSWORD=vivek_password
DB_NAME=vivek_db
DB_QUERYSTRING=sslmode=disable

MIGRATION_DIR=database/migrations

# JWT
JWT_SECRET=ThisIsKey
TOKEN_TTL=720  # hours; default 720 (30 days)

# Firebase Auth (Phone Auth)
FIREBASE_CREDENTIALS_PATH=firebase-credentials.json
FIREBASE_PROJECT_ID=workforce-9b7de
